<script src="__STATIC__/Js/jquery.min.js"></script>
<!--<script src="__STATIC__/Js/jquery.dotdotdot.min.js"></script>-->
<!--<script src="__STATIC__/Js/imgauto.js"></script>-->
<!--<script src="__STATIC__/Js/jquery.SuperSlide.2.1.1.js"></script>-->
<!--<script src="__STATIC__/Js/animate.js"></script>-->
<!--<script src="__STATIC__/Js/SmoothScroll.js"></script>-->
<script src="__STATIC__/layui/layui.js"></script>
<!--<script src="__STATIC__/Js/polyfill.object-fit.min.js"></script>-->
<script src="__STATIC__/Js/swiper.min.js"></script>
<!--<script src="__STATIC__/Js/wow.min.js"></script>-->
<!--<script src="__STATIC__/Js/jquery.prettyPhoto.js"></script>-->
<!--<script src="__STATIC__/Js/typeit.min.js"></script>-->
<script src="__STATIC__/Js/public.js"></script>
<script src="__STATIC__/Js/thyClass.js"></script>
<script src="__STATIC__/Js/index.js"></script>

<!--<script src="__STATIC__/Js/waves.min.js"></script>-->
<!--<script src="__STATIC__/Js/viewer.min.js"></script>-->
<!--<script src="__STATIC__/Js/jquery.liMarquee.js"></script>-->
<!--<script src="__STATIC__/Js/TweenMax.min.js"></script>-->
<!--<script src="__STATIC__/Js/magnifier.js"></script>-->
<!--<script src="__STATIC__/Js/jquery.waypoints.min.js"></script>-->
<!--<script src="__STATIC__/Js/jquery.countup.js"></script>-->
<!--<script type="text/javascript">-->
    <!--$('.counter').countUp();-->
<!--</script>-->
