<nav class="hNav">
    <main>
        <li <eq name="CONTROLLER_NAME" value="Index">id="thyNavStyle"</eq>>
            <a href="__APP__/"><span>网站首页</span></a>
        </li>
        <li <eq name="CONTROLLER_NAME" value="Company">id="thyNavStyle"</eq>>
            <a href="__APP__/company"><span>关于我们</span></a>
        </li>
        <li <eq name="CONTROLLER_NAME" value="Product">id="thyNavStyle"</eq>>
            <a href="__APP__/product"><span>产品中心</span></a>
        </li>
        <li <eq name="CONTROLLER_NAME" value="News">id="thyNavStyle"</eq>>
            <a href="__APP__/news"><span>新闻资讯</span></a>
        </li>
        <li <eq name="CONTROLLER_NAME" value="Case">id="thyNavStyle"</eq>>
            <a href="__APP__/case">
            <span>案例中心</span>
            </a>
        </li>
        <li <eq name="CONTROLLER_NAME" value="Message">id="thyNavStyle"</eq>>
            <a href="__APP__/message">
            <span>在线留言</span>
            </a>
        </li>
        <li <eq name="CONTROLLER_NAME" value="Jobs">id="thyNavStyle"</eq>>
            <a href="__APP__/jobs">
            <span>人才招聘</span>
            </a>
        </li>
        <li <eq name="CONTROLLER_NAME" value="Contact">id="thyNavStyle"</eq>>
            <a href="__APP__/contact">
            <span>联系我们</span>
            </a>
        </li>
    </main>
</nav>