
<!--样式1,2-->
<!--<li>-->
<!--<a href="{$vo.url}">-->
<!--<div class="pic">-->
<!--<img src="__ROOT__/__UPLOAD__/{$vo.img}" class="needCover" alt="{$vo.title}">-->
<!--</div>-->
<!--<div class="w">{$vo.title}</div>-->
<!--</a>-->
<!--</li>-->

<!--样式3-->
<!--<li>-->
<!--<a href="__APP__/product/{$vo.pid}_{$vo.id}">-->
<!--<div class="pic">-->
<!--<img src="__ROOT__/__UPLOAD__/{$vo.img}" class="needCover" alt="{$vo.title}">-->
<!--</div>-->
<!--<div class="word">{$vo.title}<p><i class="layui-icon layui-icon-right"></i></p></div>-->
<!--</a>-->
<!--</li>-->